body{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1{
    font-size: 4rem;
}

p{
    font-size: 28px;
}

.correct{
    color:green;
}

.incorrect{
    color:red;
}

#text-to-type{
    padding: 10px 130px;
    font-size:28px;
    line-height:4rem;
}

#timer{
    color: red;
    font-size:24px;
    margin:10px;
}

.speed{
    display:none;
}

.start-timer, .reset-test{
    color:white;
    background-color: green;
    border:none;
    padding: 10px 20px;
    margin-block: 10px;
    border-radius: 4px;
    font-size: 20px;    
    margin: auto;
}

.reset-test{
    display:none;
    background-color: yellowgreen;
}